<div class="btn-group" role="group">
    <button  class="btn btn-default" {{action 'createUser'}}>Create User</button>
    <button  class="btn btn-default" {{action 'createPost'}}>Create Post</button>
</div>